
.set {
    border-radius:  10px  0px 0px 10px;
    padding: 5px;
}

.set_position_D {
    margin-right: 5px;
    background-position: 10px;
}
.set_position_E {
    margin-left: 5px;
    background-position: 0px;
}