
    @if (userMsg()) {
        <div class="flex justify-end w-full ">
            <p class="bg-blue-800 p-3 rounded-md">{{msg()}}</p>
            <div class="set set_position_D" style="background-image: url('../../../../assets/icons/set_D.png');" ></div>
            <!--    <img src="{{photoAvatar()}}" width="50 !important" height="50 !important" alt="" /> -->
            <div class="imgAvatar" style="background-image: url('{{photoAvatar()}}');"></div>
        </div>
    }@else {

        <div class="flex w-full ">
            <img src="{{photoAvatar()}}" width="50" height="50" alt="" />
            <div class="set set_position_E" style="background-image: url('../../../../assets/icons/set_E.png');" ></div>
            <p class="bg-slate-800 p-3 rounded-md">{{msg()}}</p>
        </div>
    }
