<!-- div class="bg-slate-300">
    <ul class="flex space-x-3">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</div -->



  <header class="flex h-14 flex-row items-center justify-between bg-gradient-to-r from-[#2a2b2a] to-[#141414]  px-3 text-purple-200">
    <ul class="flex space-x-3 bg-[#242524] hover:bg-[#000] px-2 py-1 rounded-md">    
        <li><a class="cursor-pointer" (click)="logout()">Sair</a></li>
    </ul>
    <div class="flex gap-2 justify-center items-center">
      <P> Ola! <a routerLink="/home">{{user().nome}}</a></P>

      <!-- <P>[ 00:01 hs ]</P> -->
      <div class="imgAvatarHeader" [style]="getImg()"></div>
    </div>
    <!--div class="flex h-9 w-9 items-center justify-center rounded-md bg-red-500 text-xl font-extrabold text-zinc-100">H</div-->      
  </header>