
<main class="flex items-center flex-col space-y-5 justify-center h-screen bg-gradient-to-r from-violet-500 to-fuchsia-500">

    <img class="flex" src="../../assets/images/logo.png" width="130" height="130" alt="">
    <div class="flex bg-gradient-to-r from-red-900 to-red-700 p-10 rounded-md">
        <div class="flex flex-col justify-center items-center gap-3">
            
            <div class="imgAvatar" [style]="getImg()"></div>
            
            <button (click)="takeImage()" class="bg-rose-50 hover:bg-rose-200 px-2 py-1 rounded-md">
                <img src="../../assets/icons/camera.svg">
            </button>

            <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="pt-5">
                <input formControlName="firstName" class="p-2 focus:outline-none rounded-md bg-red-300 placeholder-[#4a044e] text-fuchsia-950" type="text"  placeholder="Digite seu nome">
            
                <button [disabled]="!profileForm.valid" type="submit" class="flex mx-auto mt-6 text-stone-900 bg-rose-50 border-0 py-2 px-5  rounded">Entrar</button>
            </form>
            </div>
    </div>
</main>

