
<main class="flex items-center flex-col space-y-5 justify-center h-screen bg-gradient-to-r to-[#2a2b2a] from-[#141414] ">
    <mat-icon >swap_horizontal_circle</mat-icon>
    <div class="flex bg-gradient-to-r to-[#373737] from-[#3d3d3d] p-10 rounded-md">
        <div class="flex flex-col justify-center items-center gap-3">
            
            <div class="imgAvatar" [style]="getImg()"></div>
            
            <button (click)="takeImage()" class="bg-[#0076a5] hover:bg-[#0047a5] px-2 py-1 rounded-md">
                <img src="../../assets/icons/camera.png" width="30" height="30">
            </button>

            <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 pt-5">
                <input formControlName="firstName" class="p-2 focus:outline-none rounded-md bg-neutral-800 placeholder-neutral-500 text-neutral-500" type="text"  placeholder="Digite seu nome">
                <button [disabled]="!profileForm.valid" mat-flat-button>Basic</button>
                </form>
            </div>
    </div>
</main>

