
<div class="flex flex-col h-screen">
    <div class="flex flex-1">
      <div class="flex-1 bg-black">
        <!-- app-header [teste]="{nome: 'bela'}"/ -->
        <app-header [user]="user()" />
        <main class="flex flex-col justify-center items-center text-white gap-5 p-3">
            <p class="">home works!</p>  
            <ul class="flex flex-col gap-4 w-full "> 
              <!-- <user-message msg="Messagem enviada" [userMsg]="true" photoAvatar="../../../assets/images/photo-user.png" /> -->
              <!-- <user-message  [hidden]="msgDig()" [msg]="msg()" [userMsg]="false" photoAvatar="../../../assets/images/photo-user.png" />           -->
              @for (item of listMessage(); track $index) {
                 <li><user-message [msg]="item.msg" [userMsg]="item.userMsg" photoAvatar="{{item.photoAvatar}}" /></li>  
              }
            </ul>
        </main>
      </div>   
    </div>
    <div class="flex gap-3m-2 bg-black">
      <form [formGroup]="msgForm" class="flex w-full" (submit)="onSubmit()">
        <input formControlName="message" type="text" placeholder="Digite sua mensagem" class="w-full m-3 p-3 rounded-md bg-[#13182d] text-slate-500 focus:outline-none placeholder:text-slate-600">
        <div class="flex" [hidden]="!msgForm.valid" class="!important">
        <button type="submit" class="bg-slate-900  flex m-3 p-3 rounded-lg hover:bg-slate-800 cursor-pointer">
            <mat-icon class="text-slate-400">send</mat-icon>
        </button>
      </div>
      </form>
    </div>
    <app-footer />
  </div>
  
